# Data Science Tools and Ecosystem








In this Notebook the Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science
* familiar with the Markdown option
* familiar with guthub by creating repository liked with jupyter.

Some of the popular languages that Data Scientists use are:
    
    1. Python
    2. R
    3. SQL
    4. Java

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. Matplotlib
3. numpy
4. Scikit-learn

|Data Science Tools|
|------------------|
|Spyder|
|Jupyterlab|
|RStudio|





### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Ratna Dip Lodh